[submodule "desres-agcg"]
	path = desres-agcg
	url = https://github.com/bussilab/msm-rna-fraying-desres-agcg.git
[submodule "desres-ugcg"]
	path = desres-ugcg
	url = https://github.com/bussilab/msm-rna-fraying-desres-ugcg.git
[submodule "desres-acgc"]
	path = desres-acgc
	url = https://github.com/bussilab/msm-rna-fraying-desres-acgc.git
[submodule "desres-ucgc"]
	path = desres-ucgc
	url = https://github.com/bussilab/msm-rna-fraying-desres-ucgc.git
[submodule "amber-ugcg"]
	path = amber-ugcg
	url = https://github.com/bussilab/msm-rna-fraying-amber-ugcg.git
